/* Inserta tu CSS aqui */
*{
	font-family: 'Oswald';
	color: #F5A9A9;
}
.fondo{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}
ul{
	text-align: center;
	font-size: 13px;
}
li{
	text-decoration: none;
	display: inline-block;
	padding: 1%;
	padding-top: 2%;
	padding-right: %;
	font-size: 20px;
}
.foto{
	width: 100%;
	text-align: right;
	border-style: double;
}
.logo{
	text-align: center;
	color: #F2F2F2;
	font-size: 90px;	
}
.last{
	width: 100px;
	height: 100px;
	margin: 10px;
	text-align: center;
}
.bola{
	width: 100%;
	border-radius: 100%;
	border-style: double;
}
.yo{
	background-image: url("../images/tile1.png");
	margin-bottom: 30px;
}
.footer{
	background-image: url("../images/tile2.png");
}
h2{
	padding-top: 30px;	
}
.pa{
	margin: 60px;
}